.load-more-btn {
  text-transform: uppercase;
  color: var(--red);
  border: 1px solid var(--red);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  letter-spacing: 2px;
}
